<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
		<!-- link to take the font from google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<div class="background">
		<div class="nav-bar">
			<a href="login.html"><img src="../img/Kenai.png" alt="" class="kenai"></a>
			<div class="side-bar-mobile">
				<img src="../img/icon-menu-mobile.png" alt="">
			</div>
			
			<div class="side-bar">
				<i class="icon"> <img src="../img/incon-search.png" alt="lupa"> </i>
				<div class="side-bar-text" class="side-bar-text" style=" font-size: 25px;">Inicio</div>
				<div class="side-bar-text" class="side-bar-text" style=" font-size: 25px">Minha lista</div>
				<i class="icon"> <img src="../img/notification.png" alt="sino"> </i>
				<i class="icon"> <img src="../img/avatar.png" alt=""> </i>
			</div>
		</div>
		<div class="container">
			<div class="elements-container" >
				<button class="movie-class"> acao/aventura </button>
				<br>
				<img src="../img/frame (1).png" alt="" class="stars-time">
				<div>
					<p class="content-title">
						<span class="movie-title" style="padding: 0px;">
							Batman
						</span>
						<br>
						<br>
						<div class="content-text">
							<p class="movie-discription">
								Gotham City enfrenta uma nova ameaça, e Bruce Wayne 
								assume o papel do Cavaleiro das Trevas para deter uma 
								organização criminosa. Em meio a seus próprios demônios 
								internos, Wayne luta para salvar a cidade da 
								iminente escuridão eterna.
							</p>
						</div>
						<br>
						<button class="movie-button"> assistir agora </button>
					</p>
				</div>
				<div class="grid-container">
					<div class="grid-item">
						<img src="../img/item01.png" alt="">
					</div>
					<div class="grid-item">
						<img src="../img/item02.png" alt="">
					</div>
					<div class="grid-item">
						<img src="../img/item03.png" alt="">
					</div>
					<div class="grid-item">
						<img src="../img/item04.png" alt="">
					</div>
					<div class="grid-item">
						<img src="../img/item05.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
