<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style-pag2.css">
	<!-- link to take the font from google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<div class="nav-bar">
		<div class="kenai">
			<img src="../img/Kenai.png" alt="">
		</div>
		<div class="side-bar">
			<img src="../img/img-2/10_43 PM (1).png" alt="">
		</div>
	</div>
	<div class="users-choice">
		<div class="div-text">
			<p class="text-style">Bem-vindo de volta ao kenai</p>
			<br>
			<p class="under-text-style">Quem está usando?</p>
		</div>
		<div class="grid-container">
			<div class="grid-item">
				<img src="../img/img-2/1.png" alt="">
				<p class="users-nick"><a href="filmes.html" class="style-link">Mateus Ramos</a></p>
			</div>
			<div class="grid-item">
				<img src="../img/img-2/2.png" alt="">
				<p class="users-nick"><a href="filmes.html" class="style-link">Hayssa Silva</a></p>
			</div>
			<div class="grid-item">
				<img src="../img/img-2/3.png" alt="">
				<p class="users-nick"><a href="filmes.html" class="style-link">Vinicius Eiji</a></p>
			</div>
		</div>
		<button class="add-users-button"> adicionar perfil </button>
	</div>
</body>
</html>
